{% extends "base.html" %}
{% load static %}
{% block title %}Home - ToDoBest{% endblock %}

{% block Masthead %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'assets/img/avataaars.svg' %}" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">START ORGANIZING </h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Manage - Prioritize - Track</p>
    </div>
</header>
{% endblock %}

{% block Portfolio %}
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">UNLOCK YOUR PRODUCTIVITY</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="text-center mb-5">
            <figure class="figure">
                <img src="{% static 'assets/img/tasklist.png' %}" class="figure-img img-fluid rounded" alt="Screenshot of task list" style="border: 5px solid #dee2e6; box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);">
                <figcaption class="figure-caption">Screenshot of Task List</figcaption>
            </figure>
        </div>
    </div>
</section>
{% endblock %}

{% block About %}
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">This is a simple demo project of a to-do list app. It was created by a beginner web developer using Django. </p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Please feel free to browse around. Register, and add your own to-do items. </p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">

                REGISTER
            </a>
        </div>
    </div>
</section>
{% endblock %}